.hidden {
  display: none;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/icomoon.woff') format('woff');
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  background: #f7f9fe;
  color: #000000;
  display: flex;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}
.page-wrapper {
  display: flex;
  flex-grow: 1;
  left: 0;
  position: relative;
  transition: left 0.2s;
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  display: block;
  height: 100vh;
  position: fixed;
  pointer-events: none;
  top: 0;
  width: 100vw;
  transition: opacity 0.2s;
  opacity: 0;
}
.menu-on .page-wrapper {
  left: 290px;
}
.menu-on .overlay {
  pointer-events: all;
  z-index: 90;
  left: 0;
  opacity: 1;
}
.main {
  flex-grow: 1;
}
::-webkit-input-placeholder {
  font-size: 1.2rem;
  color: #b5b7c0;
}
::-moz-placeholder {
  font-size: 1.2rem;
  color: #b5b7c0;
}
:-ms-input-placeholder {
  font-size: 1.2rem;
  color: #b5b7c0;
}
:-moz-placeholder {
  font-size: 1.2rem;
  color: #b5b7c0;
}
.page-wrapper {
  will-change: left;
}
.overlay {
  will-change: opacity;
}
.close-menu-button {
  width: 24px;
  height: 24px;
  align-items: center;
  display: none;
  justify-content: center;
  position: absolute;
  right: 5px;
  text-decoration: none;
  top: 5px;
}
.close-menu-button:before {
  font-family: 'icomoon', sans-serif;
  content: '\e903';
  color: #008767;
  font-size: 20px;
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.close-menu-button span {
  display: none;
}
.side-bar {
  background: #ffffff;
  width: 306px;
}
.side-bar__title {
  align-items: center;
  display: flex;
  letter-spacing: 0.1em;
  margin-bottom: 17px;
  padding: 37px 28px;
}
.side-bar__title:before {
  font-family: 'icomoon', sans-serif;
  content: '\e914';
  color: #000000;
  font-size: 37px;
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-right: 8px;
}
.side-bar__title-text {
  font-size: 2.4rem;
  font-weight: 600;
}
.side-bar__title-version {
  font-size: 1rem;
  color: #838383;
  font-weight: 500;
}
.side-bar__menu {
  padding: 0 28px;
}
.side-bar__menu-item {
  margin-bottom: 18px;
}
.side-bar__menu-item a {
  font-size: 1.4rem;
  align-items: center;
  border-radius: 8px;
  color: #9197b3;
  display: flex;
  font-weight: 500;
  padding: 11px;
  text-decoration: none;
}
.side-bar__menu-item a:before {
  font-family: 'icomoon', sans-serif;
  content: '\e901';
  color: #9197b3;
  font-size: 24px;
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-right: 14px;
}
.side-bar__menu-item a:after {
  font-family: 'icomoon', sans-serif;
  content: '\e901';
  color: #9197b3;
  font-size: 10px;
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-left: auto;
}
.side-bar__menu-item a:hover {
  background: #5932ea;
  color: #ffffff;
}
.side-bar__menu-item a:hover:before,
.side-bar__menu-item a:hover:after {
  color: inherit;
}
.side-bar__menu-item a.dashboard-link:before {
  content: '\e906';
}
.side-bar__menu-item a.product-link:before {
  content: '\e912';
}
.side-bar__menu-item a.customers-link:before {
  content: '\e905';
}
.side-bar__menu-item a.income-link:before {
  content: '\e910';
}
.side-bar__menu-item a.promote-link:before {
  content: '\e913';
}
.side-bar__menu-item a.help-link:before {
  content: '\e90f';
}
.side-bar__user {
  align-items: center;
  bottom: 48px;
  display: flex;
  margin-top: auto;
  padding: 28px;
  position: fixed;
}
.side-bar__user-avatar {
  width: 42px;
  height: 42px;
  margin-right: 12px;
}
.side-bar__user-avatar img {
  display: block;
  width: 100%;
}
.side-bar__user-name {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 4px;
}
.side-bar__user-role {
  font-size: 1.2rem;
  color: #757575;
}
@media only screen and (max-width: 1400px) {
  .side-bar__user {
    bottom: 0;
  }
}
@media only screen and (max-width: 960px) {
  .close-menu-button {
    display: flex;
  }
  .side-bar {
    box-shadow: 2px 0 3px 0px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    margin-left: -290px;
    position: fixed;
    width: 290px;
    z-index: 99;
  }
  .side-bar__title {
    margin-bottom: 0;
    padding: 20px;
  }
  .side-bar__menu {
    padding: 0 15px;
  }
  .side-bar__menu-item {
    margin-bottom: 5px;
  }
  .side-bar__user {
    bottom: 0;
    padding: 5px 25px 15px;
    position: static;
  }
}
.main {
  padding: 47px 95px 50px 71px;
  position: relative;
  z-index: 1;
}
.page-title {
  font-size: 2.4rem;
  align-items: center;
  display: flex;
  font-weight: 500;
  margin-bottom: 57px;
}
.page-title__menu {
  width: 40px;
  height: 40px;
  align-items: center;
  cursor: pointer;
  display: none;
  justify-content: center;
  margin-right: 12px;
}
.page-title__menu:before {
  font-family: 'icomoon', sans-serif;
  content: '\e908';
  color: #2b7cb2;
  font-size: 36px;
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.page-title__menu span {
  display: none;
}
.main-info {
  background: #ffffff;
  border-radius: 20px;
  padding: 36px 0;
}
.main-info__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.main-info__titles-container {
  padding-left: 38px;
}
.main-info__title {
  font-size: 2.2rem;
  border-radius: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}
.main-info__group {
  color: #16c098;
}
.main-info__search {
  width: 216px;
  height: 38px;
  margin-right: 52px;
  position: relative;
}
.main-info__search-input {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  background: #f9fbff;
  border-radius: 10px;
  border: 0;
  padding-left: 40px;
}
.main-info__search-input:focus,
.main-info__search-input:focus-visible {
  border: 1px solid #7e7e7e;
  outline: 0;
}
.main-info__search-button {
  width: 34px;
  height: 34px;
  align-items: center;
  background: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  left: 3px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.main-info__search-button:hover:before {
  color: #292d32;
}
.main-info__search-button:before {
  font-family: 'icomoon', sans-serif;
  content: '\e911';
  color: #7e7e7e;
  font-size: 24px;
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.main-info__search-button span {
  display: none;
}
.data-table {
  margin-bottom: 30px;
}
.data-row {
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  grid-template-areas: "name company phone email country button";
  grid-template-columns: 19.44% 14.72% 17.42% 23.37% auto 92px;
  margin-left: 38px;
  margin-right: 38px;
  display: grid;
  grid-auto-flow: column;
}
.data-row.titles {
  margin-left: 0;
  margin-right: 0;
  padding-left: 38px;
  padding-right: 38px;
}
.data-row.titles li {
  padding-top: 15px;
  padding-bottom: 17px;
}
.data-row li {
  font-weight: 500;
  padding: 20px 15px 20px 0;
}
.data-row .label {
  display: none;
}
.data-row .name {
  grid-area: name;
}
.data-row .company {
  grid-area: company;
}
.data-row .phone {
  grid-area: phone;
}
.data-row .email {
  grid-area: email;
}
.data-row .country {
  grid-area: country;
}
.data-row .status {
  display: flex;
  grid-area: button;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}
.data-row.titles li {
  color: #b5b7c0;
}
.data-row.data li {
  color: #292d32;
}
.data-row button {
  font-size: 1.4rem;
  background: #a6e7d8;
  border-radius: 4px;
  border: 1px solid #008767;
  color: #008767;
  cursor: pointer;
  font-weight: 500;
  line-height: 1;
  padding: 6px 12px;
  width: 80px;
}
.data-row button.inactive {
  background: #ffc5c5;
  border: 1px solid #df0404;
  color: #df0404;
}
.data-row button:hover {
  background: transparent;
}
@media only screen and (max-width: 1400px) {
  .page-title {
    margin-bottom: 30px;
  }
  .main {
    padding-left: 30px;
    padding-right: 30px;
  }
  .main-info {
    padding: 30px 0 35px;
  }
  .main-info__header {
    margin-bottom: 25px;
  }
  .data-table {
    margin-bottom: 25px;
  }
  .data-row {
    gap: 0 20px;
    grid-template-areas: "name button " "email phone " "company country";
    grid-template-columns: 55% 1fr;
    padding-bottom: 15px;
    padding-top: 12px;
  }
  .data-row:nth-child(2) {
    border-top: 1px solid #eeeeee;
  }
  .data-row.titles {
    display: none;
  }
  .data-row li {
    font-weight: 400;
    padding: 10px 15px 10px 0;
  }
  .data-row li:before {
    content: attr(data-role) ": ";
    text-transform: capitalize;
    display: inline-block;
    font-weight: 500;
    width: 85px;
  }
  .data-row .status {
    justify-content: flex-start;
    padding-left: 0;
  }
}
@media only screen and (max-width: 960px) {
  .main {
    padding: 25px 15px;
  }
  .page-title {
    padding-left: calc(25px - 10px);
    margin-bottom: 25px;
  }
  .page-title__menu {
    display: flex;
  }
  .main-info__titles-container {
    padding-left: 25px;
  }
  .data-row {
    margin-left: 25px;
    margin-right: 25px;
  }
}
@media only screen and (max-width: 568px) {
  .page-title {
    margin-bottom: 10px;
    padding-left: 5px;
  }
  .main {
    padding: 15px 10px;
  }
  .main-info {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .data-table {
    margin-bottom: 15px;
  }
  .data-row {
    gap: 0 20px;
    grid-template-areas: "name button" "email email" "company company" "phone phone" "country country";
    grid-template-columns: 1fr 100px;
    padding-bottom: 15px;
    padding-top: 12px;
    margin-left: 15px;
    margin-right: 16px;
  }
  .data-row .status {
    justify-content: flex-end;
  }
  .main-info__header {
    flex-direction: column;
    align-items: stretch;
    padding: 0 15px;
    margin-bottom: 15px;
  }
  .main-info__titles-container {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-left: 0;
  }
  .main-info__title {
    margin-bottom: 0;
  }
  .main-info__search {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}
.pagination {
  padding: 0 38px;
  margin-bottom: 4px;
}
.pagination__list {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}
.pagination__item {
  width: 25px;
  height: 24px;
}
.pagination__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  line-height: 1;
  font-size: 1.2rem;
  font-weight: 500;
  color: #404b52;
  text-decoration: none;
  background: #eeeeee;
}
.pagination__item a:hover {
  background: #00b087;
  color: #ffffff;
}
.pagination__item a.current {
  background: #5932ea;
  color: #ffffff;
}
.pagination__item a.current:hover {
  pointer-events: none;
  cursor: default;
}
.pagination__item.prev,
.pagination__item.next {
  width: 26px;
}
.pagination__item.prev span,
.pagination__item.next span {
  display: none;
}
.pagination__item.prev:hover a:before,
.pagination__item.next:hover a:before {
  color: #ffffff;
}
.pagination__item.prev a:before {
  font-family: 'icomoon', sans-serif;
  content: '\e900';
  color: #404b52;
  font-size: 8px;
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.pagination__item.next a:before {
  font-family: 'icomoon', sans-serif;
  content: '\e902';
  color: #404b52;
  font-size: 8px;
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.pagination__item.dots {
  padding-top: 3px;
  width: 8px;
}
.pagination__item.dots span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  line-height: 1;
  font-size: 1.2rem;
  font-weight: 500;
  color: #404b52;
}
@media only screen and (max-width: 568px) {
  .pagination {
    padding: 0 15px;
  }
  .pagination__list {
    justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */