//
//  All
//  _____________________________________________

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
}

html {
    font-size: 62.5%;
}

body {
    .rem(14);
    display: flex;
    background: @hippo-color-03;
    font-family: @base-font;
    color: @hippo-color-02;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-grow: 1;
}



// Content

.main{
    flex-grow: 1;
}