@hippo-color-01: #ffffff;
@hippo-color-02: #000000;
@hippo-color-03: #f7f9fe;
@hippo-color-04: #5932ea;
@hippo-color-05: #9197b3;
@hippo-color-06: #292d32;
@hippo-color-07: #16c098;
@hippo-color-08: #838383;
@hippo-color-09: #b5b7c0;
//@hippo-color-10: darken(#eeeeee, 50%);
@hippo-color-10: #eeeeee;
@hippo-color-11: #757575;
@hippo-color-12: #008767;
@hippo-color-13: #00b087;
@hippo-color-14: #df0404;
@hippo-color-15: #ffc5c5;
@hippo-color-16: #a6e7d8;
@hippo-color-17: #f9fbff;
@hippo-color-18: #7e7e7e;
@hippo-color-19: #404b52;
@hippo-color-20: #e2ecf9;
@hippo-color-21: #2b7cb2;
