// Sidebar

.close-menu-button {
    .size(24);
    align-items: center;
    display: none;
    justify-content: center;
    position: absolute;
    right: 5px;
    text-decoration: none;
    top: 5px;

    &:before {
        .icomoon('\e903', 20, @hippo-color-12);
    }

    span {
        display: none;
    }
}

.side-bar {
    background: @hippo-color-01;
    width: 306px;
}

.side-bar__title {
    align-items: center;
    display: flex;
    letter-spacing: 0.1em;
    margin-bottom: 17px;
    padding: 37px 28px;

    &:before {
        .icomoon('\e914', 37, @hippo-color-02);
        margin-right: 8px;
    }
}

.side-bar__title-text {
    .rem(24);
    font-weight: 600;
}

.side-bar__title-version {
    .rem(10);
    color: @hippo-color-08;
    font-weight: 500;
}

.side-bar__menu {
    padding: 0 28px;
}

.side-bar__menu-item {
    margin-bottom: 18px;

    a {
        .rem(14);
        align-items: center;
        border-radius: 8px;
        color: @hippo-color-05;
        display: flex;
        font-weight: 500;
        padding: 11px;
        text-decoration: none;

        &:before {
            .icomoon('\e901', 24, @hippo-color-05);
            margin-right: 14px;
        }

        &:after {
            .icomoon('\e901', 10, @hippo-color-05);
            margin-left: auto;
        }

        &:hover {
            background: @hippo-color-04;
            color: @hippo-color-01;

            &:before,
            &:after {
                color: inherit;
            }
        }

        &.dashboard-link {
            &:before {
                content: '\e906';
            }
        }

        &.product-link {
            &:before {
                content: '\e912';
            }
        }

        &.customers-link {
            &:before {
                content: '\e905';
            }
        }

        &.income-link {
            &:before {
                content: '\e910';
            }
        }

        &.promote-link {
            &:before {
                content: '\e913';
            }
        }

        &.help-link {
            &:before {
                content: '\e90f';
            }
        }
    }
}

.side-bar__user {
    align-items: center;
    bottom: 48px;
    display: flex;
    margin-top: auto;
    padding: 28px;
    position: fixed;
}

.side-bar__user-avatar {
    .size(42);
    margin-right: 12px;

    img {
        display: block;
        width: 100%;
    }
}

.side-bar__user-info {
}

.side-bar__user-name {
    .rem(14);
    font-weight: 500;
    margin-bottom: 4px;

}

.side-bar__user-role {
    .rem(12);
    color: @hippo-color-11;
}

@media only screen and (max-width: @desktop) {
    .side-bar__user {
        bottom: 0;
    }
}

@media only screen and (max-width: @tablet) {

    .close-menu-button {
        display: flex;
    }

    .side-bar {
        box-shadow: 2px 0 3px 0px rgba(0, 0, 0, .6);
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-between;
        margin-left: -@sidebar-shift;
        position: fixed;
        width: @sidebar-shift;
        z-index: 99;
    }

    .side-bar__title {
        margin-bottom: 0;
        padding: 20px;
    }


    .side-bar__menu {
        padding: 0 15px;
    }

    .side-bar__menu-item {
        margin-bottom: 5px;
    }

    .side-bar__user {
        bottom: 0;
        padding: 5px 25px 15px;
        position: static;
    }
}
